.bell{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home{
  /* width: 100%; */
  text-align: center;
  color:white;
   padding-top: 20%; 
  font-weight: bolder;
}
.mouse{
  padding:5%;
}
p{
  font-weight:normal;
}
#about{
  text-align: center;
}
#services{
  text-align: center;
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg");
  background-size:cover;
  height: 40vh;
  /* padding-top:20%; */
  color: white;
  padding-top: 10%;
}
.what{
  text-align: center;
}