body{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}
.home{
  text-align: center;
  color:white;
  margin-top:450px;
  font-weight: bolder;
}
.mouse{
  padding:9%;
}
p{
  font-weight:normal;
}